<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Links</title>
    <link rel="stylesheet" href="./vendor/css/semantic.min.css">
  </head>
  <body>
    <div id="remoteStorage" style="position: absolute; z-index: 200;"></div>
    <div id="list" class="ui container segment loading">
      <div v-if="error" class="ui negative message">
        <i class="close icon" @click="error = false"></i>
        <div class="header">Something is wrong</div>
        <p>{{error}}</p>
      </div>
      <div class="ui top attached">
        <div class="ui center aligned container">
          <div class="ui icon input">
            <input placeholder="Filter..." type="text" v-model="query" autofocus>
            <i class="search icon"></i>
          </div>
          <div class="ui submit button" id="reload" @click="reload">reload</div>
          <div class="ui header" v-if="query !== ''">
            [title, description, url, keyword, category]<span v-for="q in query.split(/ /)">.match(/{{q}}/ig)</span>
          </div>
        </div>

        <div class="ui pointing secondary menu">
          <a class="item" data-tab="search">Search</a>
          <a class="active item" data-tab="category">Category</a>
        </div>
        <div class="ui active tab" data-tab="category">

          <div class="ui list">
            <item class="item"
                  :category="category"
                  :query="query"
                  :setquery="setquery"
                  :model="treeData">
            </item>
          </div>

        </div>
        <div class="ui tab" data-tab="search">

          <div class="ui relaxed divided list">
            <item-content class="item" v-for="link in filtered" :link="link" :query="query" :setquery="setquery"></item-content>
          </div>

        </div>
      </div>

    </div>

    <script src="./loader.js" onload="loadFrom('./');"></script>
  </body>
</html>
